* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.preview-container {
	background: url(/slot-template-1/assets/img/Iphone_black.png) no-repeat;
	height: 716px;
	width: 364px;
	padding: 19px 22px 17px 24px;
	filter: drop-shadow(0px 15px 26px rgba(33, 191, 115, 0.15));
	background-size: 100%;
	margin: 0 auto;
	transition: all 0.3s ease;
	position: fixed;
	top: 135px;
	right: 10px;
	z-index: 99;
}

.preview-container.hide {
	transform: translate(500px);
}

.preview-container .close-preview {
	position: fixed;
	top: -50px;
	right: 0;
}

.preview {
	background: transparent;
	border-radius: 26px;
	overflow: hidden;
	height: 100%;
	position: relative;
}

.preview iframe {
	height: 120%;
	width: 120%;
	position: relative;
	top: -10%;
	margin-left: -10%;
	border: none;
	transform: scale(0.85);
}

.preview__progress-loader {
	height: 100%;
}

.show-preview-btn {
	transform: rotate(-90deg);
	position: fixed;
	top: 180px;
	right: -35px;
}

@media only screen and (min-width: 1280px) {
	.preview-container {
		position: sticky;
		top: 5px;
	}
}

@media only screen and (min-width: 991px) {
	.show-preview-btn {
		top: 160px;
	}
}
