version: '3.8'

services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: lendix
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - lendix-net

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@lendix.dev
      PGADMIN_DEFAULT_PASSWORD: root123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - lendix-net

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - lendix-net

  # backend:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: npm run start:dev
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - .:/app
  #     - /app/node_modules
  #   env_file:
  #     - .env
  #   depends_on:
  #     - postgres
  #     - redis
  #   networks:
  #     - lendix-net

volumes:
  pgdata:

networks:
  lendix-net:
