@keyframes rotation-loader {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinTo1 {
  0% {
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes spinTo2 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1396deg);
  }
}
@-webkit-keyframes spinTo3 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1351deg);
  }
}
@-webkit-keyframes spinTo4 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1305deg);
  }
}
@-webkit-keyframes spinTo5 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1261deg);
  }
}
@-webkit-keyframes spinTo6 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1217deg);
  }
}
@-webkit-keyframes spinTo7 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1531deg);
  }
}
@-webkit-keyframes spinTo8 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1485deg);
  }
}
@-webkit-keyframes spinner-win {
  0%,
  to {
    transform: rotate(1080deg);
  }
  50% {
    transform: rotate(1085deg);
  }
}
@-webkit-keyframes blink {
  0%,
  40%,
  to {
    left: -24em;
  }
  20% {
    left: calc(100% + 24em);
  }
}
@-webkit-keyframes moveBgEffect {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5vw);
  }
}
@-webkit-keyframes scaleBgEffect {
  0%,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes growDesktop {
  0% {
    width: 12em;
  }
  80% {
    width: 120em;
  }
  to {
    width: 156em;
  }
}
@-webkit-keyframes growMobile {
  0% {
    width: 12em;
  }
  80% {
    width: 60em;
  }
  to {
    width: 80em;
  }
}
@-webkit-keyframes flyDesktop {
  0% {
    opacity: 1;
    bottom: 29em;
  }
  80% {
    opacity: 1;
    bottom: 60em;
  }
  99% {
    opacity: 1;
    bottom: 74em;
  }
  to {
    opacity: 0;
    bottom: 82.5em;
  }
}
@-webkit-keyframes flyMobile {
  0% {
    opacity: 1;
    bottom: 40em;
  }
  80% {
    opacity: 1;
    bottom: 114em;
  }
  99% {
    opacity: 1;
    bottom: 160em;
  }
  to {
    opacity: 0;
    bottom: 160em;
  }
}
@-webkit-keyframes flyMobileSmall {
  0% {
    opacity: 1;
    bottom: 42em;
  }
  80% {
    opacity: 1;
    bottom: 114em;
  }
  99% {
    opacity: 1;
    bottom: 160em;
  }
  to {
    opacity: 0;
    bottom: 160em;
  }
}
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
ol[role='list'],
ul[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
canvas,
img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}
button,
input,
select,
textarea {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
.hidden {
  display: none !important;
}
.visible {
  display: flex !important;
}
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  font-style: normal;
}
.bottom__section-button {
  min-width: 50px;
  align-items: center;
}
.bottom__section-button span {
  height: auto;
}
.bottom__section-button .button-loader {
  display: none;
}
.bottom__section-button.is--link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom__section-button.is--disabled {
  pointer-events: none;
}
.bottom__section-button.is--disabled span {
  opacity: 0.2;
}
.bottom__section-button.is--disabled .button-loader {
  display: flex;
}
.button-loader {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.button-loader span {
  width: 30px !important;
  height: 30px !important;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation-loader 1s linear infinite;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.wheel__spinner_win_1 {
  animation: 3s spinTo1 ease-in-out forwards !important;
}
.wheel__spinner_win_2 {
  animation: 3s spinTo2 ease-in-out forwards;
}
.wheel__spinner_win_3 {
  animation: 3s spinTo3 ease-in-out forwards;
}
.wheel__spinner_win_4 {
  animation: 3s spinTo4 ease-in-out forwards;
}
.wheel__spinner_win_5 {
  animation: 3s spinTo5 ease-in-out forwards;
}
.wheel__spinner_win_6 {
  animation: 3s spinTo6 ease-in-out forwards;
}
.wheel__spinner_win_7 {
  animation: 3s spinTo7 ease-in-out forwards;
}
.wheel__spinner_win_8 {
  animation: 3s spinTo8 ease-in-out forwards;
}
.wheel__texts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1em !important;
  padding-left: 2em !important;
}
.wheel__texts-block p {
  transform: rotate(-7deg);
}
.wheel__texts-block p:only-child {
  transform: rotate(0deg);
}
.wheel__texts-block p + p {
  margin-top: 10px;
  transform: rotate(7deg);
}
.effects {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
}
.body-wrapper::after,
.effects__block {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.effects__block {
  -webkit-background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.wheel__texts-1,
.wheel__texts-2 {
  transform: rotate(-137deg);
  position: absolute;
  left: 11%;
  top: 23%;
}
.wheel__texts-2 {
  transform: rotate(-93deg);
  left: 32%;
  top: 14%;
}
.wheel__texts-3,
.wheel__texts-4 {
  transform: rotate(-45deg);
  position: absolute;
  left: 54%;
  top: 23%;
}
.wheel__texts-4 {
  transform: rotate(-2deg);
  left: 63%;
  top: 44%;
}
.wheel__texts-5,
.wheel__texts-6 {
  transform: rotate(43deg);
  position: absolute;
  left: 54%;
  top: 65%;
}
.wheel__texts-6 {
  transform: rotate(87deg);
  left: 33%;
  top: 74%;
}
.wheel__texts-7,
.wheel__texts-8 {
  transform: rotate(133deg);
  position: absolute;
  left: 11%;
  top: 66%;
}
.wheel__texts-8 {
  transform: rotate(177deg);
  left: 2%;
  top: 45%;
}
.win-animation-svg {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  opacity: 0;
  width: 100%;
}
.win-animation-svg.is--active {
  opacity: 1;
}
.is--win-spinner {
  animation: 2s spinner-win ease-in-out infinite !important;
}
body.is--winner .bottom__section {
  opacity: 0;
}
html {
  background: #f40202;
  font-size: min(4.5px + 5.5 * (100vw - 375px)/1605, 10px);
}
img {
  width: 100%;
}
.body-wrapper,
.container {
  display: flex;
  position: relative;
}
.body-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.body-wrapper::after {
  z-index: -1;
  content: '';
  top: -10vh;
  left: -10vw;
  width: 120vw;
  height: 120vh;
  background-position: center top;
  background-image: url(https://landix.group/assets/aviatorTwo/img/page-bg.webp);
  animation: 10s scaleBgEffect ease-in-out infinite;
}
@media (max-width: 767px) {
  .body-wrapper::after {
    background-image: url(https://landix.group/assets/aviatorTwo/img/page-bg-mobile.webp);
  }
}
.body-wrapper::before {
  position: fixed;
  content: '';
  top: -10vh;
  left: -10vw;
  width: 120vw;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  mix-blend-mode: hard-light;
  background-image: url(https://landix.group/assets/aviatorTwo/img/page-bg-effect.webp);
  animation: 6s moveBgEffect ease-in-out infinite;
}
@media (max-width: 1023px) {
  .body-wrapper::before {
    background-image: url(https://landix.group/assets/aviatorTwo/img/page-bg-mobile-effect.webp);
  }
}
.container {
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .container {
    display: flex;
    flex: unset;
  }
}
.aviator-game,
.aviator-game .bottom__section::before {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.aviator-game {
  position: relative;
  z-index: 2;
  width: 157em;
  height: 82.5em;
  max-width: 1560px;
  max-height: 820px;
  background-position: center;
  background-image: url(https://landix.group/assets/aviatorTwo/img/frame.webp);
  transform: scale(0.9);
}
@media (max-width: 1023px) {
  .aviator-game {
    width: 82em;
    height: 160em;
    max-height: unset;
    background-image: url(https://landix.group/assets/aviatorTwo/img/frame-mob.webp);
    transform: none;
  }
}
@media (max-width: 389px) {
  .aviator-game {
    width: 68em;
    height: 134em;
  }
}
.aviator-game__logo {
  position: absolute;
  z-index: 2;
  top: 1em;
  left: 50%;
  display: block;
  width: 25em;
  max-width: 250px;
  transform: translate(-50%, -50%);
}
@media (max-width: 1023px) {
  .aviator-game__logo {
    width: 36em;
  }
}
.aviator-game__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
}
.aviator-game__rate {
  position: absolute;
  left: 5em;
  bottom: 6em;
}
@media (max-width: 1023px) {
  .aviator-game__rate {
    bottom: 24em;
    right: 5em;
    left: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 30rem;
    padding: 1rem 4rem;
    border-radius: 500px;
    border: 3px solid #fff;
  }
}
.aviator-game__rate-title {
  color: #fff;
  text-align: center;
  text-shadow: 0 0.42rem 0 #640112;
  font-size: 3em;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .aviator-game__rate-title {
    font-size: 4.5em;
  }
}
.aviator-game__rate-currency {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30rem;
  padding: 1rem;
  margin-top: 0.8rem;
  color: #fff;
  font-size: 4.2em;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 500px;
  border: 4px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0.42rem 0 #6f011b;
  box-shadow: 0 0 4.2rem 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1023px) {
  .aviator-game__rate-currency {
    border: 0;
    box-shadow: none;
    min-width: unset;
    margin-top: unset;
    border-radius: 0;
    padding: 0;
    font-size: 6em;
    background: 0 0;
  }
}
.aviator-game__balance {
  position: absolute;
  right: 5em;
  bottom: 6em;
}
@media (max-width: 1023px) {
  .aviator-game__balance {
    bottom: 10em;
    right: 5em;
    left: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 30rem;
    padding: 1rem 4rem;
    border-radius: 500px;
    border: 3px solid #15ff00;
  }
}
@media (max-width: 389px) {
  .aviator-game__balance {
    bottom: 11em;
  }
}
.aviator-game__balance-title {
  color: #fff;
  text-align: center;
  text-shadow: 0 0.42rem 0 #640112;
  font-size: 3em;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .aviator-game__balance-title {
    color: #15ff00;
    font-size: 4.5em;
    border-color: #15ff00;
  }
}
.aviator-game .bottom__section .bottom__section-button,
.aviator-game__balance-currency {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.aviator-game__balance-currency {
  min-width: 30rem;
  padding: 1rem;
  margin-top: 0.8rem;
  color: #15ff00;
  font-size: 4.2em;
  font-style: normal;
  line-height: normal;
  text-align: center;
  border-radius: 500px;
  border: 4px solid #15ff00;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0.42rem 0 #6f011b;
  box-shadow: 0 0 4.2rem 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1023px) {
  .aviator-game__balance-currency {
    border: 0;
    box-shadow: none;
    min-width: unset;
    margin-top: unset;
    border-radius: 0;
    padding: 0;
    font-size: 6em;
    background: 0 0;
  }
}
.aviator-game__balance-currency::before {
  content: '';
  position: absolute;
  left: 50%;
  display: block;
  opacity: 0;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  background-color: #15ff00;
  filter: blur(8rem);
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
}
.aviator-game__button {
  position: absolute;
  z-index: 6;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
@media (max-width: 389px) {
  .aviator-game__button {
    bottom: 2em;
  }
}
.aviator-game .bottom__section {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.aviator-game .bottom__section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 12em;
  width: 21em;
  min-height: 70px;
  padding: 0 12em;
  background-image: url(https://landix.group/assets/aviatorTwo/img/button_effect.webp);
  animation: 3s blink ease-in-out infinite;
}
.aviator-game .bottom__section .bottom__section-button {
  height: 12em;
  min-height: 70px;
  max-height: 120px;
  min-width: 40em;
  padding: 0 4em;
  margin: 0 2em;
  border: 0;
  text-decoration: none;
  white-space: nowrap;
  background: url(https://landix.group/assets/aviatorTwo/img/button_middle.webp) repeat-x center
    center;
  background-size: contain;
  cursor: pointer;
}
@media (max-width: 767px) {
  .aviator-game .bottom__section .bottom__section-button {
    min-width: 40em;
  }
}
@media (max-width: 389px) {
  .aviator-game .bottom__section .bottom__section-button {
    min-height: 60px;
  }
}
.aviator-game .bottom__section .bottom__section-button::after,
.aviator-game .bottom__section .bottom__section-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 18em;
  height: 12em;
  min-height: 70px;
  max-height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 389px) {
  .aviator-game .bottom__section .bottom__section-button::after,
  .aviator-game .bottom__section .bottom__section-button::before {
    min-height: 60px;
  }
}
.aviator-game .bottom__section .bottom__section-button::before {
  left: -2em;
  background-position: left;
  background-image: url(https://landix.group/assets/aviatorTwo/img/button_left.webp);
}
.aviator-game .bottom__section .bottom__section-button::after {
  right: -2em;
  background-position: right;
  background-image: url(https://landix.group/assets/aviatorTwo/img/button_right.webp);
}
.aviator-game .bottom__section .bottom__section-button span {
  position: relative;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.2em;
  text-shadow: 0 0.5rem 0 rgba(8, 101, 0, 0.5);
  padding-bottom: 7px;
}
@media (max-width: 767px) {
  .aviator-game .bottom__section .bottom__section-button span {
    padding-bottom: 6px;
  }
}
.aviator-game .bottom__section .bottom__section-button-next,
.aviator-game .bottom__section .bottom__section-button.is--active .bottom__section-button-default {
  display: none;
}
.aviator-game .bottom__section .bottom__section-button.is--active {
  opacity: 0.9;
  pointer-events: none;
}
.aviator-game .bottom__section .bottom__section-button.is--active .bottom__section-button-next {
  display: flex;
}
.aviator-game__value {
  position: absolute;
  bottom: 9rem;
  right: 50%;
  color: #fff;
  text-align: center;
  text-shadow: 0 1rem 0.2rem #f40202;
  font-size: 9rem;
  transform: translateX(50%);
}
@media (max-width: 1023px) {
  .aviator-game__value {
    bottom: 38rem;
    right: 7rem;
    transform: none;
    font-size: 12rem;
  }
}
@media (max-width: 389px) {
  .aviator-game__value {
    bottom: 40em;
  }
}
.aviator-game__traectory {
  position: absolute;
  z-index: 2;
  left: 4px;
  bottom: 0;
  width: 10em;
  height: 82.5em;
  background-size: 155em 82.5em;
  background-repeat: no-repeat;
  background-image: url(https://landix.group/assets/aviatorTwo/img/traectory.webp);
}
@media (max-width: 1023px) {
  .aviator-game__traectory {
    width: 12em;
    bottom: 5em;
    height: 160em;
    background-size: 80em 155em;
    background-image: url(https://landix.group/assets/aviatorTwo/img/traectory-mob.webp);
  }
}
@media (max-width: 389px) {
  .aviator-game__traectory {
    width: 12em;
    height: 136em;
    background-size: 67em 122em;
  }
}
.aviator-game__traectory::after,
.aviator-game__traectory::before {
  content: '';
  position: absolute;
  bottom: 29em;
  right: -22em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.aviator-game__traectory::before {
  display: block;
  width: 29.5em;
  height: 18em;
  background-image: url(https://landix.group/assets/aviatorTwo/img/airplane.webp);
}
@media (max-width: 1023px) {
  .aviator-game__traectory::after,
  .aviator-game__traectory::before {
    bottom: 40em;
    right: -18em;
    transform: rotate(-24deg);
  }
}
@media (max-width: 389px) {
  .aviator-game__traectory::after,
  .aviator-game__traectory::before {
    bottom: 42em;
  }
}
.aviator-game__traectory::after {
  width: 90em;
  height: 70em;
  display: none;
  background-image: url(https://landix.group/assets/aviatorTwo/img/coins.gif);
  transform: rotate(10deg) translate(9em, 47em);
}
@media (max-width: 1023px) {
  .aviator-game__traectory::after {
    width: 120em;
    height: 80em;
    transform: rotate(-15deg) translate(5em, 70em);
  }
}
.aviator-game__animation {
  position: absolute;
  z-index: 0;
  top: 7em;
  left: 50%;
  width: 100%;
  height: 50em;
  max-width: 300px;
  transform: translateX(-50%);
  overflow: hidden;
  mask-image: linear-gradient(to bottom, transparent, #000 30%, #000 70%, transparent);
}
@media (max-width: 768px) {
  .aviator-game__animation {
    top: 5em;
    height: 400px;
    transform: translateX(-50%) scale(0.9);
  }
}
@media (max-width: 389px) {
  .aviator-game__animation {
    top: -5em;
    transform: translateX(-50%) scale(0.7);
  }
}
.aviator-game__animation-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: all 0.3s ease-in-out;
}
.aviator-game__animation-item {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 30px 40px 40px 60px 40px;
  width: 100%;
  min-height: 38px;
  padding: 4px 12px;
  border-radius: 329.626px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 28.21px 0 rgba(0, 0, 0, 0.2);
  transition: background 0.5s ease-in-out;
}
.aviator-game__animation-item-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
}
.aviator-game__animation-item-text {
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.aviator-game__animation-item-tag,
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aviator-game__animation-item-tag {
  padding: 6px;
  border-radius: 100px;
  background: #2166bb;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
}
.aviator-game__animation-item-tag.is--purple {
  background: #9747ff;
}
.aviator-game__animation-item.is--active {
  background: rgba(21, 255, 0, 0.6);
}
.aviator-game.is--active .aviator-game__traectory {
  animation: 5.5s growDesktop linear;
  animation-fill-mode: forwards;
}
@media (max-width: 1023px) {
  .aviator-game.is--active .aviator-game__traectory {
    animation: 5.5s growMobile linear;
    animation-fill-mode: forwards;
  }
}
.aviator-game.is--active .aviator-game__traectory::before {
  animation: 5.5s flyDesktop linear;
  animation-fill-mode: forwards;
}
@media (max-width: 1023px) {
  .aviator-game.is--active .aviator-game__traectory::before {
    animation: 5.5s flyMobile linear;
    animation-fill-mode: forwards;
  }
}
@media (max-width: 389px) {
  .aviator-game.is--active .aviator-game__traectory::before {
    animation: 5.5s flyMobileSmall linear;
    animation-fill-mode: forwards;
  }
}
.aviator-game.is--active .aviator-game__traectory::after {
  display: block;
  animation: 5.5s flyDesktop linear;
  animation-fill-mode: forwards;
}
@media (max-width: 1023px) {
  .aviator-game.is--active .aviator-game__traectory::after {
    animation: 5.5s flyMobile linear;
    animation-fill-mode: forwards;
  }
}
@media (max-width: 389px) {
  .aviator-game.is--active .aviator-game__traectory::after {
    animation: 5.5s flyMobileSmall linear;
    animation-fill-mode: forwards;
  }
}
.aviator-game.is--active .aviator-game__button {
  pointer-events: none;
}
#win-bonus-button-modal,
#win-button-modal,
.aviator-game.is--active .aviator-game__button::before {
  display: none;
}
.modal {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.modal__container {
  position: relative;
  z-index: 2;
  padding: 50px 24px;
}
@media (max-width: 991px) {
  .modal__container {
    padding: 0 24px;
  }
}
.modal__text,
.modal__title,
.modal__value {
  text-align: center;
  text-transform: uppercase;
}
.modal__value {
  color: #fff;
  text-shadow: 0 1.6rem 0.35rem #f40202;
  font-size: 16.3em;
}
.modal__text,
.modal__title {
  text-shadow: 0 1rem 0.2rem #f40202;
}
.modal__title {
  color: #fff;
  font-size: 8rem;
}
.modal__text {
  color: #15ff00;
  font-size: 5em;
}
.modal.is--active {
  opacity: 1;
  z-index: 4;
}
@media (max-height: 1024px) and (max-width: 1279px) {
  #bonus-inline {
    left: unset;
    right: 65px;
    bottom: 200%;
    transform: unset;
    min-width: 255px;
  }
  #bonus-inline img {
    transform: rotate(-90deg);
    top: 0;
  }
}
#bonus-inline.is--active {
  background: linear-gradient(to left, #13ff00, #0b8201);
}
@media (max-height: 1024px) and (max-width: 1279px) {
  #bonus-inline.is--active {
    right: 65px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    bottom: 5px;
    transition: bottom 1s ease-out;
  }
}
#bonus-inline.is--active p {
  background: linear-gradient(90deg, #0b8201 0, #0b8201 100%);
  -webkit-background-clip: text;
}
#bonus-inline.is--active svg path {
  stroke: #0b8201;
}
.is--modal-open .aviator-game .aviator-game__button,
.is--modal-open .aviator-game.is--active .aviator-game__button {
  pointer-events: all;
}
.is--modal-open .aviator-game .aviator-game__button::before,
.is--modal-open .aviator-game.is--active .aviator-game__button::before {
  display: block;
}
.is--modal-open .aviator-game #go-btn,
.is--modal-open .aviator-game .aviator-game__animation,
.is--modal-open .aviator-game .aviator-game__traectory,
.is--modal-open .aviator-game .aviator-game__value,
.is--modal-open .aviator-game.is--active #go-btn,
.is--modal-open .aviator-game.is--active .aviator-game__animation,
.is--modal-open .aviator-game.is--active .aviator-game__traectory,
.is--modal-open .aviator-game.is--active .aviator-game__value {
  display: none;
}
.is--modal-open .aviator-game .aviator-game__balance-currency::before,
.is--modal-open .aviator-game.is--active .aviator-game__balance-currency::before {
  opacity: 1;
}
.is--modal-open .aviator-game #win-button-modal,
.is--modal-open .aviator-game.is--active #win-button-modal {
  display: flex;
}
.is--bonuses-open .aviator-game #go-btn,
.is--bonuses-open .aviator-game #win-button-modal {
  display: none;
}
.is--bonuses-open .aviator-game #win-bonus-button-modal {
  display: flex;
}
