@keyframes rotation-loader {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinTo1 {
  0% {
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes spinTo2 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1396deg);
  }
}
@-webkit-keyframes spinTo3 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1351deg);
  }
}
@-webkit-keyframes spinTo4 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1305deg);
  }
}
@-webkit-keyframes spinTo5 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1261deg);
  }
}
@-webkit-keyframes spinTo6 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1217deg);
  }
}
@-webkit-keyframes spinTo7 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1531deg);
  }
}
@-webkit-keyframes spinTo8 {
  0% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(1485deg);
  }
}
@-webkit-keyframes spinner-win {
  0%,
  to {
    transform: rotate(1080deg);
  }
  50% {
    transform: rotate(1085deg);
  }
}
@-webkit-keyframes spinWheel {
  0%,
  75%,
  to {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  25%,
  50% {
    -webkit-transform: rotate(-52deg);
    transform: rotate(-52deg);
  }
}
@-webkit-keyframes spinWheelBackground1 {
  0%,
  75%,
  to {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  25%,
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spinWheelBackground2 {
  0%,
  75%,
  to {
    -webkit-transform: rotate(2deg) scale(0.9);
    transform: rotate(2deg) scale(0.9);
  }
  25%,
  50% {
    -webkit-transform: rotate(-14deg) scale(1);
    transform: rotate(-14deg) scale(1);
  }
}
@-webkit-keyframes pulseButton {
  0%,
  to {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
}
@-webkit-keyframes scaleModalBgEffect {
  0%,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes showModalBgEffect {
  0%,
  to {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
}
@-webkit-keyframes showLens {
  0%,
  85%,
  to {
    opacity: 0;
    transform: scale(0);
  }
  25%,
  60% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes spinBall1 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinBall2 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes moveBall {
  0%,
  to {
    transform: translate(0, 0) scale(0.9);
  }
  50% {
    transform: translate(15em, -7em) scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
ol[role='list'],
ul[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
canvas,
img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}
button,
input,
select,
textarea {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
.hidden {
  display: none !important;
}
.visible {
  display: flex !important;
}
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: min(4.5px + 5.5 * (100vw - 375px)/1545, 10px);
  font-style: normal;
  font-size: 70%;
}
.bottom__section-button span {
  height: auto;
}
.bottom__section-button .button-loader {
  display: none;
}
.bottom__section-button.is--link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom__section-button.is--disabled {
  pointer-events: none;
}
.bottom__section-button.is--disabled span {
  opacity: 0.2;
}
.bottom__section-button.is--disabled .button-loader {
  display: flex;
}
.button-loader {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.button-loader span {
  width: 30px !important;
  height: 30px !important;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation-loader 1s linear infinite;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.wheel__spinner_win_1 {
  animation: 3s spinTo1 ease-in-out forwards !important;
}
.wheel__spinner_win_2 {
  animation: 3s spinTo2 ease-in-out forwards;
}
.wheel__spinner_win_3 {
  animation: 3s spinTo3 ease-in-out forwards;
}
.wheel__spinner_win_4 {
  animation: 3s spinTo4 ease-in-out forwards;
}
.wheel__spinner_win_5 {
  animation: 3s spinTo5 ease-in-out forwards;
}
.wheel__spinner_win_6 {
  animation: 3s spinTo6 ease-in-out forwards;
}
.wheel__spinner_win_7 {
  animation: 3s spinTo7 ease-in-out forwards;
}
.wheel__spinner_win_8 {
  animation: 3s spinTo8 ease-in-out forwards;
}
.wheel__texts-block {
  flex-direction: column;
  justify-content: center;
  padding-right: 1em !important;
  padding-left: 2em !important;
}
.wheel__texts-block p {
  transform: rotate(-7deg);
}
.wheel__texts-block p:only-child {
  transform: rotate(0deg);
}
.wheel__texts-block p + p {
  margin-top: 10px;
  transform: rotate(7deg);
}
.effects,
.effects__block {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.effects {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
}
.effects__block {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: fixed;
}
.wheel__texts-1,
.wheel__texts-2 {
  transform: rotate(-137deg);
  position: absolute;
  left: 11%;
  top: 23%;
}
.wheel__texts-2 {
  transform: rotate(-93deg);
  left: 32%;
  top: 14%;
}
.wheel__texts-3,
.wheel__texts-4 {
  transform: rotate(-45deg);
  position: absolute;
  left: 54%;
  top: 23%;
}
.wheel__texts-4 {
  transform: rotate(-2deg);
  left: 63%;
  top: 44%;
}
.wheel__texts-5,
.wheel__texts-6 {
  transform: rotate(43deg);
  position: absolute;
  left: 54%;
  top: 65%;
}
.wheel__texts-6 {
  transform: rotate(87deg);
  left: 33%;
  top: 74%;
}
.wheel__texts-7,
.wheel__texts-8 {
  transform: rotate(133deg);
  position: absolute;
  left: 11%;
  top: 66%;
}
.wheel__texts-8 {
  transform: rotate(177deg);
  left: 2%;
  top: 45%;
}
.win-animation-svg {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  opacity: 0;
  width: 100%;
}
.win-animation-svg.is--active {
  opacity: 1;
}
.is--win-spinner {
  animation: 2s spinner-win ease-in-out infinite !important;
}
body.is--winner .bottom__section {
  opacity: 0;
}
html {
  background: #5101db;
  font-size: min(4.5px + 5.5 * (100vw - 375px)/1545, 10px);
}
@media (max-width: 991px) {
  body {
    font-size: 110%;
  }
}
@media (max-width: 420px) {
  body {
    font-size: 105%;
  }
}
img {
  width: 100%;
}
.body-wrapper,
.wheel::after,
.wheel::before {
  background-repeat: no-repeat;
  background-position: center;
}
.body-wrapper {
  display: flex;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(https://landix.group/asset/plinkoWheel/img/page-bg.webp);
}
@media (max-width: 991px) {
  .body-wrapper {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .body-wrapper {
    background-image: url(https://landix.group/asset/plinkoWheel/img/page-bg-mobile.webp);
  }
}
.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2em 16px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .container {
    display: block;
    flex: unset;
    height: 100%;
  }
}
@media (max-width: 420px) {
  .container {
    padding: 4em 16px;
  }
}
.container-wrap {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.logo {
  position: relative;
  display: block;
  width: 45em;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .logo {
    width: 50em;
  }
}
.logo img,
.modal__logo img {
  position: relative;
  z-index: 2;
}
.wheel {
  position: relative;
  width: 65.4em;
  height: 65.4em;
  margin: 9em auto 0;
}
.wheel::after,
.wheel::before {
  content: '';
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-size: 90%;
  background-image: url(https://landix.group/asset/plinkoWheel/img/wheel-bg-back-2.webp);
  animation: 4s spinWheelBackground2 ease-in-out infinite;
  mix-blend-mode: lighten;
}
.wheel::after {
  left: -20%;
  top: -20%;
  width: 140%;
  height: 140%;
  background-size: 138%;
  background-image: url(https://landix.group/asset/plinkoWheel/img/wheel-bg-back.webp);
  animation: 4s spinWheelBackground1 ease-in-out infinite;
  mix-blend-mode: normal;
}
.wheel__spinner {
  position: relative;
  z-index: 2;
  width: 100%;
}
.wheel__spinner_animated {
  -webkit-animation: 4s spinWheel ease-in-out infinite;
  animation: 4s spinWheel ease-in-out infinite;
}
.wheel__around,
.wheel__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wheel__around {
  z-index: 5;
  width: 73em;
  height: 73em;
  background-image: url(https://landix.group/asset/plinkoWheel/img/wheel-around.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.wheel__btn {
  z-index: 6;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background: url(https://landix.group/asset/plinkoWheel/img/btn.webp) 50% 0;
  background-size: 100%;
  border: 0;
  outline: 0;
}
.wheel__btn:disabled {
  background-position: 50% 100%;
  pointer-events: none;
}
.wheel__texts {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}
.wheel__texts-1-first,
.wheel__texts-1-second {
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  white-space: nowrap;
}
.wheel__texts-1-first {
  font-size: 1.3125em;
  transform: rotate(-4deg);
  text-align: left;
}
.wheel__texts-1-second {
  font-size: 2.3em;
  transform: rotate(3deg);
}
.wheel__texts-block {
  display: flex;
  height: 8em;
  width: 23em;
  align-items: center;
  color: #fff;
}
.wheel__texts-block:nth-child(even) {
  color: #ffff26;
}
.bottom__section {
  position: relative;
  z-index: 8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10em;
  min-width: 1px;
}
@media (max-width: 991px) {
  .bottom__section {
    position: fixed;
    left: 0;
    bottom: 17em;
    margin-top: 0;
  }
}
@media (max-height: 741px) and (max-width: 991px) {
  .bottom__section {
    bottom: 5em;
  }
}
.bottom__section-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.8em;
  border: 0;
  cursor: pointer;
  font-size: 110%;
  background-image: url(https://landix.group/asset/plinkoWheel/img/button_middle.webp);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  min-width: 30px;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 640px) {
  .bottom__section-button {
    font-size: 130%;
  }
}
.bottom__section-button:after,
.bottom__section-button:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 18em;
  background-size: contain;
  background-repeat: no-repeat;
}
.bottom__section-button:before {
  left: calc(-17em + 1px);
  background-position: right center;
  background-image: url(https://landix.group/asset/plinkoWheel/img/button_left.webp);
}
.bottom__section-button:after {
  right: calc(-17em + 1px);
  background-position: left center;
  background-image: url(https://landix.group/asset/plinkoWheel/img/button_right.webp);
}
.bottom__section-button span {
  position: relative;
  z-index: 3;
  margin-left: -12rem;
  margin-right: -12rem;
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
  padding: 0 4rem 8px;
  text-decoration: none;
  color: #ffe900;
  text-shadow:
    0 -3px 1px #8900d0,
    -2px -2px 1px #8900d0,
    -1px -2px 1px #8900d0,
    0 -2px 1px #8900d0,
    1px -2px 1px #8900d0,
    2px -2px 1px #8900d0,
    -2px -1px 1px #8900d0,
    -1px -1px 1px #8900d0,
    0 -1px 1px #8900d0,
    1px -1px 1px #8900d0,
    2px -1px 1px #8900d0,
    -3px 0 1px #8900d0,
    -2px 0 1px #8900d0,
    -1px 0 1px #8900d0,
    0 0 1px #8900d0,
    1px 0 1px #8900d0,
    2px 0 1px #8900d0,
    3px 0 1px #8900d0,
    -2px 1px 1px #8900d0,
    -1px 1px 1px #8900d0,
    0 1px 1px #8900d0,
    1px 1px 1px #8900d0,
    2px 1px 1px #8900d0,
    -2px 2px 1px #8900d0,
    -1px 2px 1px #8900d0,
    0 2px 1px #8900d0,
    1px 2px 1px #8900d0,
    2px 2px 1px #8900d0,
    0 3px 1px #8900d0;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 1024px) {
  .bottom__section-button span {
    text-shadow:
      0 -2px 1px #8900d0,
      -1px -1px 1px #8900d0,
      0 -1px 1px #8900d0,
      1px -1px 1px #8900d0,
      -2px 0 1px #8900d0,
      -1px 0 1px #8900d0,
      0 0 1px #8900d0,
      1px 0 1px #8900d0,
      2px 0 1px #8900d0,
      -1px 1px 1px #8900d0,
      0 1px 1px #8900d0,
      1px 1px 1px #8900d0,
      0 2px 1px #8900d0;
    -webkit-font-smoothing: antialiased;
  }
}
@media (max-width: 640px) {
  .bottom__section-button span {
    margin-left: -17rem;
    margin-right: -17rem;
  }
}
.bottom__section-button.pulse {
  animation: 2s pulseButton ease-in-out infinite;
}
.bottom__section-button-next {
  display: none;
}
.bottom__section-button .button-loader span {
  padding: 0 !important;
}
.animation-images {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.animation-images__img,
.modal__container::before {
  z-index: 1;
  position: absolute;
}
.animation-images__img.is--1 {
  top: 50em;
  left: calc(50% - 90em);
  width: 40em;
  height: 40em;
  animation: 3s spinBall1 ease-in-out infinite;
}
@media (max-width: 991px) {
  .animation-images__img.is--1 {
    width: 25em;
    height: 25em;
    top: 105em;
    left: calc(50% - 25em);
  }
}
.animation-images__img.is--2 {
  top: 35em;
  left: calc(50% - 110em);
  width: 25em;
  height: 25em;
  animation: 3s spinBall2 ease-in-out infinite;
}
@media (max-width: 991px) {
  .animation-images__img.is--2 {
    width: 15em;
    height: 15em;
    top: 100em;
    left: calc(50% - 40em);
  }
}
.animation-images__img.is--3 {
  top: 30em;
  right: calc(50% - 110em);
  width: 80em;
  height: 65em;
  animation: 3s moveBall ease-in-out infinite;
}
@media (max-width: 991px) {
  .animation-images__img.is--3 {
    width: 40em;
    height: 34em;
    top: 100em;
    right: calc(50% - 40em);
  }
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  .footer {
    right: unset;
    left: -75%;
    width: 250%;
    bottom: -1px;
  }
}
.footer__img {
  width: 100%;
}
.footer__flare {
  display: block;
  width: 20em;
  height: 14em;
  mix-blend-mode: plus-lighter;
  position: absolute;
  animation: 3s showLens ease-in-out infinite;
}
.footer__flare.is--1 {
  left: 34%;
  bottom: calc(50% - 6em);
  animation-delay: 0.5s;
}
.footer__flare.is--2 {
  left: 24%;
  bottom: calc(50% - 11em);
  animation-delay: 1s;
}
.footer__flare.is--3 {
  right: 29%;
  bottom: calc(50% - 11em);
  animation-delay: 1.5s;
}
.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal__wrapper {
  top: 10%;
}
.modal__container,
.modal__wrapper {
  position: relative;
}
.modal__container::before {
  content: '';
  opacity: 0.8;
  top: calc(50% - 71em);
  left: calc(50% - 87em);
  width: 168em;
  height: 142em;
  background-image: url(https://landix.group/asset/plinkoWheel/img/modal-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: 6s scaleModalBgEffect ease-in-out infinite;
}
@media (max-width: 768px) {
  .modal__container::before {
    font-size: 60%;
  }
}
.modal__container::after {
  content: '';
  z-index: 2;
  opacity: 0;
  position: absolute;
  top: calc(50% - 80em);
  left: calc(50% - 100em);
  width: 200em;
  height: 160em;
  background-image: url(https://landix.group/asset/plinkoWheel/img/modal-effect.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: 6s showModalBgEffect ease-in-out infinite;
  animation-delay: 2s;
}
@media (max-width: 768px) {
  .modal__container::after {
    font-size: 70%;
  }
}
.modal__content,
.modal__logo {
  position: relative;
  margin: 0 auto;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10em;
  z-index: 3;
  width: 100%;
  padding: 20px 0;
  max-width: 100em;
}
.modal__logo {
  display: block;
  width: 45em;
}
@media (max-width: 768px) {
  .modal__logo {
    width: 50em;
  }
}
.modal__title {
  padding: 0 16px;
  text-align: center;
  font-size: 5.2em;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  color: #ffe900;
  text-shadow:
    0 -3px 1px #a000d8,
    -2px -2px 1px #a000d8,
    -1px -2px 1px #a000d8,
    0 -2px 1px #a000d8,
    1px -2px 1px #a000d8,
    2px -2px 1px #a000d8,
    -2px -1px 1px #a000d8,
    -1px -1px 1px #a000d8,
    0 -1px 1px #a000d8,
    1px -1px 1px #a000d8,
    2px -1px 1px #a000d8,
    -3px 0 1px #a000d8,
    -2px 0 1px #a000d8,
    -1px 0 1px #a000d8,
    0 0 1px #a000d8,
    1px 0 1px #a000d8,
    2px 0 1px #a000d8,
    3px 0 1px #a000d8,
    -2px 1px 1px #a000d8,
    -1px 1px 1px #a000d8,
    0 1px 1px #a000d8,
    1px 1px 1px #a000d8,
    2px 1px 1px #a000d8,
    -2px 2px 1px #a000d8,
    -1px 2px 1px #a000d8,
    0 2px 1px #a000d8,
    1px 2px 1px #a000d8,
    2px 2px 1px #a000d8,
    0 3px 1px #a000d8;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 1024px) {
  .modal__title {
    text-shadow:
      0 -2px 1px #a000d8,
      -1px -1px 1px #a000d8,
      0 -1px 1px #a000d8,
      1px -1px 1px #a000d8,
      -2px 0 1px #a000d8,
      -1px 0 1px #a000d8,
      0 0 1px #a000d8,
      1px 0 1px #a000d8,
      2px 0 1px #a000d8,
      -1px 1px 1px #a000d8,
      0 1px 1px #a000d8,
      1px 1px 1px #a000d8,
      0 2px 1px #a000d8;
    -webkit-font-smoothing: antialiased;
  }
}
@media (max-width: 768px) {
  .modal__title {
    font-size: 4.2em;
  }
}
.modal__text {
  padding: 0 16px;
  text-align: center;
  font-size: 9.3em;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  color: #a000d8;
  text-shadow:
    0 -3px 1px #ffe900,
    -2px -2px 1px #ffe900,
    -1px -2px 1px #ffe900,
    0 -2px 1px #ffe900,
    1px -2px 1px #ffe900,
    2px -2px 1px #ffe900,
    -2px -1px 1px #ffe900,
    -1px -1px 1px #ffe900,
    0 -1px 1px #ffe900,
    1px -1px 1px #ffe900,
    2px -1px 1px #ffe900,
    -3px 0 1px #ffe900,
    -2px 0 1px #ffe900,
    -1px 0 1px #ffe900,
    0 0 1px #ffe900,
    1px 0 1px #ffe900,
    2px 0 1px #ffe900,
    3px 0 1px #ffe900,
    -2px 1px 1px #ffe900,
    -1px 1px 1px #ffe900,
    0 1px 1px #ffe900,
    1px 1px 1px #ffe900,
    2px 1px 1px #ffe900,
    -2px 2px 1px #ffe900,
    -1px 2px 1px #ffe900,
    0 2px 1px #ffe900,
    1px 2px 1px #ffe900,
    2px 2px 1px #ffe900,
    0 3px 1px #ffe900;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 1024px) {
  .modal__text {
    text-shadow:
      0 -2px 1px #ffe900,
      -1px -1px 1px #ffe900,
      0 -1px 1px #ffe900,
      1px -1px 1px #ffe900,
      -2px 0 1px #ffe900,
      -1px 0 1px #ffe900,
      0 0 1px #ffe900,
      1px 0 1px #ffe900,
      2px 0 1px #ffe900,
      -1px 1px 1px #ffe900,
      0 1px 1px #ffe900,
      1px 1px 1px #ffe900,
      0 2px 1px #ffe900;
    -webkit-font-smoothing: antialiased;
  }
}
@media (max-width: 768px) {
  .modal__text {
    font-size: 7.3em;
  }
}
.modal.is--active {
  opacity: 1;
  visibility: visible;
}
.modal.is--active .bottom__section {
  opacity: 1;
  z-index: 6;
  margin-top: 8em;
  position: static;
}
.modal.is--active .bottom__section-button {
  animation: 2s pulseButton ease-in-out infinite;
}
.is--modal-open .bottom__section,
.is--modal-open .logo,
.is--modal-open .wheel {
  z-index: 0;
  opacity: 0;
}
.is--modal-open .animation-images {
  opacity: 1;
  z-index: 0;
}
.effects {
  z-index: 999;
}
.bonus-inline.is--active {
  background: linear-gradient(to left, #ff318b, #7a0289);
}
.bonus-inline.is--active p {
  background: linear-gradient(90deg, #5e00ff 0, #5e00ff 100%);
  -webkit-background-clip: text;
}
.bonus-inline.is--active svg path {
  stroke: #5e00ff;
}
