@keyframes rotation-loader {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinTo1 {
  0% {
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes spinTo2 {
  0% {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(1396deg);
  }
}

@-webkit-keyframes spinTo3 {
  0% {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(1351deg);
  }
}

@-webkit-keyframes spinTo4 {
  0% {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(1305deg);
  }
}

@-webkit-keyframes spinTo5 {
  0% {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(1261deg);
  }
}

@-webkit-keyframes spinTo6 {
  0% {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(1217deg);
  }
}

@-webkit-keyframes spinTo7 {
  0% {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(1531deg);
  }
}

@-webkit-keyframes spinTo8 {
  0% {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(1485deg);
  }
}

@-webkit-keyframes spinner-win {
  0%,
  to {
    transform: rotate(1080deg);
  }

  50% {
    transform: rotate(1085deg);
  }
}

@keyframes changeBackground {
  0%,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes showImage {
  0%,
  to {
    opacity: 1;
  }

  25%,
  50%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes showPlayerShadow {
  0%,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }
}

@keyframes changeArrows {
  0%,
  to {
    opacity: 0;
    transform: translate(0, 0);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes pulseButton {
  0%,
  to {
    transform: scale(0.95);
    filter: drop-shadow(0 0 0 #7dff58) drop-shadow(0 0 0 #7dff58) drop-shadow(0 0 0 #7dff58);
  }

  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 2.601px #7dff58) drop-shadow(0 0 5.202px #7dff58)
      drop-shadow(0 0 18.208px #7dff58);
  }
}

@-webkit-keyframes showModal {
  0% {
    opacity: 1;
    transform: translateY(100vh);
  }

  50% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(5px);
  }

  to {
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

canvas,
img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

.visible {
  display: flex !important;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: min(4.5px + 5.5 * (100vw - 375px)/1545, 10px);
  font-style: normal;
  font-size: 80%;
}

.bottom__section-button span {
  height: auto;
}

.bottom__section-button .button-loader {
  display: none;
}

.bottom__section-button.is--link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom__section-button.is--disabled {
  pointer-events: none;
}

.bottom__section-button.is--disabled span {
  opacity: 0.2;
}

.bottom__section-button.is--disabled .button-loader {
  display: flex;
}

.button-loader {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.button-loader span {
  width: 30px !important;
  height: 30px !important;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation-loader 1s linear infinite;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.wheel__spinner_win_1 {
  animation: 3s spinTo1 ease-in-out forwards !important;
}

.wheel__spinner_win_2 {
  animation: 3s spinTo2 ease-in-out forwards;
}

.wheel__spinner_win_3 {
  animation: 3s spinTo3 ease-in-out forwards;
}

.wheel__spinner_win_4 {
  animation: 3s spinTo4 ease-in-out forwards;
}

.wheel__spinner_win_5 {
  animation: 3s spinTo5 ease-in-out forwards;
}

.wheel__spinner_win_6 {
  animation: 3s spinTo6 ease-in-out forwards;
}

.wheel__spinner_win_7 {
  animation: 3s spinTo7 ease-in-out forwards;
}

.wheel__spinner_win_8 {
  animation: 3s spinTo8 ease-in-out forwards;
}

.wheel__texts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1em !important;
  padding-left: 2em !important;
}

.wheel__texts-block p {
  transform: rotate(-7deg);
}

.wheel__texts-block p:only-child {
  transform: rotate(0deg);
}

.wheel__texts-block p + p {
  margin-top: 10px;
  transform: rotate(7deg);
}

.effects,
.registrate::after,
.registrate::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.effects {
  z-index: 997;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
}

.effects__block {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.wheel__texts-1,
.wheel__texts-2 {
  transform: rotate(-137deg);
  position: absolute;
  left: 11%;
  top: 23%;
}

.wheel__texts-2 {
  transform: rotate(-93deg);
  left: 32%;
  top: 14%;
}

.wheel__texts-3,
.wheel__texts-4 {
  transform: rotate(-45deg);
  position: absolute;
  left: 54%;
  top: 23%;
}

.wheel__texts-4 {
  transform: rotate(-2deg);
  left: 63%;
  top: 44%;
}

.wheel__texts-5,
.wheel__texts-6 {
  transform: rotate(43deg);
  position: absolute;
  left: 54%;
  top: 65%;
}

.wheel__texts-6 {
  transform: rotate(87deg);
  left: 33%;
  top: 74%;
}

.wheel__texts-7,
.wheel__texts-8 {
  transform: rotate(133deg);
  position: absolute;
  left: 11%;
  top: 66%;
}

.wheel__texts-8 {
  transform: rotate(177deg);
  left: 2%;
  top: 45%;
}

.win-animation-svg {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  opacity: 0;
  width: 100%;
}

.win-animation-svg.is--active {
  opacity: 1;
}

.is--win-spinner {
  animation: 2s spinner-win ease-in-out infinite !important;
}

body.is--winner .bottom__section {
  opacity: 0;
}

html {
  background: #061232;
  font-size: min(4.5px + 5.5 * (100vw - 375px)/1545, 10px);
}

@media (max-width: 1440px) {
  body {
    font-size: 70%;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 110%;
  }
}

@media (max-width: 420px) {
  body {
    font-size: 105%;
  }
}

img {
  width: 100%;
}

.body-wrapper {
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://api.landix.group/assets/iplFreebetGreen/img/bg.webp);
}

@media (max-width: 767px) {
  .body-wrapper {
    background-image: url(https://api.landix.group/assets/iplFreebetGreen/img/bg-mobile.webp);
  }
}

.container {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5em 16px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    display: block;
    flex: unset;
    height: 100%;
  }
}

@media (max-width: 420px) {
  .container {
    padding: 2em 16px;
  }
}

.container-wrap {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo,
.registrate {
  z-index: 3;
  pointer-events: none;
}

.registrate {
  position: absolute;
}

.logo {
  position: absolute;
  top: 5em;
  left: 5em;
  width: 20em;
}

@media (max-width: 991px) {
  .logo {
    width: 15em;
  }
}

.registrate {
  overflow: hidden;
  right: 5em;
  top: 5em;
  padding: 2.5em 3.5em;
  border: 2px solid #4edc41;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(25, 26, 43, 0.76) 70.46%,
    rgba(40, 202, 69, 0.76) 136.25%
  );
}

@media (max-width: 991px) {
  .registrate {
    top: 6.5em;
  }
}

.registrate::after,
.registrate::before {
  content: '';
  display: block;
  opacity: 0;
  animation: changeBackground 3s infinite ease-in-out;
}

.registrate::before {
  background: linear-gradient(
    90deg,
    rgba(25, 26, 43, 0.76) 70.46%,
    rgba(40, 202, 69, 0.76) 136.25%
  );
}

.registrate::after {
  background: linear-gradient(
    270deg,
    rgba(25, 26, 43, 0.76) 59.73%,
    rgba(55, 238, 255, 0.76) 149.63%
  );
  animation-delay: 1.5s;
}

.registrate span {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.line__left,
.line__right {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.line__right {
  top: 18em;
  right: 5em;
  width: 160em;
  height: 6px;
}

@media (max-width: 991px) {
  .line__right {
    height: 4px;
    width: 65em;
    top: 20em;
  }
}

.line__left {
  bottom: -1em;
  left: -1em;
  width: 38%;
  height: calc(100% + 2em);
}

@media (max-width: 991px) {
  .line__left {
    width: 92em;
    height: 72%;
    left: -49em;
    bottom: 0;
  }
}

.line__left-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.line__left-img.is--2 {
  animation: showImage 8s infinite ease-in-out;
}

.line__left-img.is--3,
.line__left-img.is--4 {
  animation: showImage 8s infinite ease-in-out;
  animation-delay: 2s;
}

.line__left-img.is--4 {
  animation-delay: 4s;
}

.left__person,
.right__person {
  position: absolute;
  pointer-events: none;
}

.left__person::before,
.right__person {
  background-size: contain;
  background-repeat: no-repeat;
}

.right__person {
  right: -35em;
  bottom: -25em;
  width: 100em;
  height: 100em;
  background-position: center;
}

@media (max-width: 991px) {
  .right__person {
    right: -40em;
  }
}

@media (max-width: 991px) and (max-height: 741px) {
  .right__person {
    font-size: 80%;
  }
}

.left__person {
  bottom: -84em;
  left: -1%;
  width: 126em;
  height: 220em;
}

@media (max-width: 991px) {
  .left__person {
    font-size: 80%;
    left: -17%;
  }
}

@media (max-width: 768px) and (max-height: 741px) {
  .left__person {
    bottom: -110em;
  }
}

@media (max-width: 768px) {
  .left__person.is--bottom {
    bottom: -110em;
  }
}

@media (max-width: 768px) and (max-height: 741px) {
  .left__person.is--bottom {
    font-size: 70%;
    bottom: -130em;
  }
}

.left__person::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 7%;
  left: 42%;
  width: 102%;
  height: 102%;
  background-position: bottom center;
  background-image: url(https://api.landix.group/assets/iplFreebetGreen/img/player-transparent.webp);
}

@media (max-width: 991px) {
  .left__person::before {
    left: -2%;
    bottom: 36%;
  }
}

.left__person img {
  position: relative;
  z-index: 3;
}

.arrows {
  position: absolute;
  right: 5em;
  top: 23em;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

@media (max-width: 991px) {
  .arrows {
    top: 24em;
  }
}

.arrows__img {
  width: 3em;
  height: 3em;
  animation: changeArrows 2s infinite;
}

.arrows__img:nth-child(4) {
  animation-delay: -0.6s;
}

.arrows__img:nth-child(3) {
  animation-delay: -0.4s;
}

.arrows__img:nth-child(2) {
  animation-delay: -0.2s;
}

.content {
  position: absolute;
  z-index: 3;
  top: 35em;
  right: 5em;
  display: flex;
  flex-direction: column;
  width: 160em;
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    right: 0;
    padding: 16px 5em;
    top: 30em;
    max-width: unset;
  }
}

.content__title {
  color: #e7e6eb;
  font-size: 5em;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 991px) {
  .content__title {
    font-size: 4em;
  }
}

.content__text {
  color: #7dff58;
  text-align: center;
  font-size: 7.5em;
  text-transform: uppercase;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .content__text {
    font-size: 7em;
  }
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 4em auto 0;
}

.content__list-title {
  color: #e7e6eb;
  font-size: 4em;
}

.content__list-items {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style: none;
}

.content__list-item {
  display: flex;
  align-items: center;
  gap: 2em;
}

.content__list-item:nth-child(odd) span {
  color: #59ebeb;
}

.content__list-item:nth-child(even) span {
  color: #7dff58;
}

.content__list-item span {
  font-size: 7em;
}

.content__list-item p {
  color: #e7e6eb;
  font-size: 3em;
}

.content__go-btn {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .content__go-btn {
    order: 3;
    margin-top: 5rem;
  }
}

.bottom__section-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 35em;
  height: 10em;
  min-height: 90px;
  padding: 5px 20px;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  background: 0 0;
  animation: 2s pulseButton ease-in-out infinite;
}

@media (max-width: 991px) {
  .bottom__section-button {
    height: 11em;
    min-width: 30em;
    min-height: unset;
  }
}

.bottom__section-button::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid #fff;
  transform: skewX(-10deg);
  background: linear-gradient(108deg, #7dff58 22.84%, #59ebeb 72.55%);
}

.bottom__section-button span {
  position: relative;
  z-index: 2;
  color: #061232;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .bottom__section-button span {
    font-size: 3.5em;
  }
}

.bottom__section-button.pulse {
  animation: 2s pulseButton ease-in-out infinite;
}

.bottom__section-button-next {
  display: none;
}

.bottom__section-button .button-loader span {
  padding: 0 !important;
}

.modal {
  z-index: 5;
  position: absolute;
  right: 5em;
  top: 25em;
  width: 160em;
  height: 100%;
  min-height: 100vh;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

@media (max-width: 991px) {
  .modal {
    width: 100%;
    right: 0;
    padding: 16px 5em;
    top: 15em;
    max-width: unset;
  }
}

.modal__wrapper {
  top: 10%;
}

.modal__container,
.modal__content,
.modal__wrapper {
  position: relative;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
}

.modal__title {
  padding: 0 16px;
  text-align: center;
  text-transform: uppercase;
  color: #e7e6eb;
  text-shadow: 0 4.556px 0 #000;
  font-size: 7em;
}

@media (max-width: 991px) {
  .modal__title {
    font-size: 4em;
  }
}

.modal__text {
  padding: 0 16px;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  color: #59ebeb;
  text-shadow: 0 8px 0 #300000;
  font-size: 10em;
  margin-top: 3rem;
}

@media (max-width: 991px) {
  .modal__text {
    font-size: 6.5em;
  }
}

.modal.is--active {
  opacity: 1;
  visibility: visible;
  animation: 0.5s showModal linear;
}

.modal.is--active .modal__wrapper::before {
  animation: 0.7s showCoins linear;
}

.modal.is--active .bottom__section {
  margin-top: 5rem;
}

.modal.is--active .bottom__section-button {
  animation: 2s pulseButton ease-in-out infinite;
}

.is--modal-open .content {
  display: none;
}
